.container-star-route {
    padding-top: 100px;
    display: flex;
    height: calc(100vh - 100px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 600px;
}

.container-star-route img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-star-route h1 {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    color: #333;
}